.detail-wrapper {
  text-align: right;
}

.detailImage {
  height: 600px;
  border-radius: 10px 0px 0px 10px;
  object-position: right bottom;
}

.image-container {
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container p:first-of-type {
  font-weight: 900;
  font-size: 24px;
}

.title-container p:last-of-type {
  font-weight: 900;
  font-size: 24px;
  font-weight: 900;
  font-size: 16px;
}

.author-description {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.author-description p:last-of-type {
  font-weight: 900;
  font-size: 12px;
}

.description-wrapper {
  padding: 0 10% 0 30%;
}
